# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#dump kinect data
data/

#performance
cachegrind.*
callgrind.*

#lcm stuff
gripper_lcm_t.c
gripper_lcm_t.h
skeleton_joint_t.c
skeleton_joint_t.h
skeleton_joint_list_t.c
skeleton_joint_list_t.h
